* {
  box-sizing: border-box;
}
body{
  background:#312e2e;
}
.decor {
  position: relative;
  max-width: 400px;
  margin: 50px auto 0;
  background: #181818;
  border-radius: 30px;
}
.form-inner {
  padding: 50px;
}
.form-inner input{
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}
.form-inner input[type="submit"] {
  margin-top: 30px;
  background: #fc4d4d;
  border-bottom: 4px solid #ff0000;
  color: white;
  font-size: 14px;
  cursor: pointer;
}
.button{
  margin-top: 30px;
  background: #fc4d4d;
  border-bottom: 4px solid #ff0000;
  color: white;
  font-size: 14px;
  cursor: pointer;
}
.form-inner h3 {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
}
.pError {
  font-size: 16px;
  color: #ff0000;
  font-family: 'Roboto', sans-serif;
}