* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    background: #312e2e;
}
header{
  width:100%;
  height:80px;
  background:#181818;
}
.p{
  position: absolute;
  top: 20px;
  left: 100px;
  color: #b0b0b0;
  font-size: 35px;
  font-family: 'Marske', sans-serif;
}
.p1{
  position: absolute;
  top: 20px;
  left: 275px;
  font-size: 35px;
  color: #e04646;
  font-family: 'Marske', sans-serif;
}
a {
    color: #f7f7f7;
    text-decoration: none;
}
.a2{
  position: absolute;
  font-size: 18px;
  top: 20px;
  right: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.a3{
  position: absolute;
  font-size: 18px;
  top: 20px;
  right: 120px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.butonbtn {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f7f7f7;
    text-decoration: none;
    background-color: #555555;
    outline: none;
}
.size {
    text-align: center;
    color: #b0b0b0;
    font-size: 25px;
}
.table{
    font-size: 14px;
    background:#312e2e;
    max-width: 70%;
    width: 70%;
    border-collapse: collapse;
    text-align: left;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    position: relative;
    margin: 0 auto;
}
.td{
    font-family: 'Play',sans-serif;
    border-bottom: 1px solid grey;
    color: #999;
    font-size:.875rem;
    padding: 16px 12px;
}
.th {
    font-size: 1.5rem;
    border-bottom: 1px solid #ff0800;
    padding: 10px;
    color: white;
    font-family: 'Play',sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
.container {
  position: relative;
  width: 350px;
  height: 500px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
}
.brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #1DA1F2;
  letter-spacing: 1px;
}
.inputs {
  text-align: left;
  margin-top: 30px;
}
.select, .button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.input {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}
.inputUpdateQuery{
    display: block;
   width: 80%;
   padding: 0 20px;
   margin-bottom: 10px;
   background: #E9EFF6;
   line-height: 30px;
   border-width: 0;
   border-radius: 20px;
   font-family: 'Roboto', sans-serif;
}
.select {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}
.button {
  color: white;
  margin-top: 20px;
  background: #1DA1F2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}
.button:hover {
  box-shadow: none;
}
.alignment {
    display: inline-block;
    margin-left: 180px;
}
.alignment1 {
    margin-left: 714px;
}
.alignment2 {
    position: absolute;
    right: 285px;
    top: 725px;
}
.containerButton {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.center {
  position: relative;
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  text-align: center;
}
.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #f7f7f7;
  outline: none;
  transition: 1s ease-in-out;
}
svg {
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}
.btn:hover {
  transition: 1s ease-in-out;
  background: #f51717;
}
.btn:hover svg {
  stroke-dashoffset: -480;
}
.btn span {
  position: relative;
  top: -45px;
  color: white;
  font-size: 18px;
  font-weight: 100;
}