<!doctype html>
<html lang="uk" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="/css/analyticks.css"/>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://www.gstatic.com/charts/loader.js"></script>
    <title>Аналитика</title>
</head>
<header>
    <p class="p">Міський</p>
    <p class="p1">Транспорт</p>
</header>
<body>

<div id="piechart" class="style">

</div>
<script th:inline="javascript">
    var real_data = /*[[${topFive}]]*/'noValue';
    $(document).ready(function() {
        google.charts.load('current', {
            packages : [ 'corechart', 'bar' ]
        });
        google.charts.setOnLoadCallback(drawColumnChart);
    });
    function drawColumnChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('number', 'Count');
        Object.keys(real_data).forEach(function(key) {
            data.addRow([ key, real_data[key] ]);
        });
        var options = {
            title : 'П\'ятірка найкращих маршрутів',
            hAxis : {
                title : 'Name',
            },
            vAxis : {
                title : 'Created Tours'
            }
        };
        var chart = new google.visualization.PieChart(document
            .getElementById('piechart'));
        chart.draw(data, options);
    }
</script>
</body>
</html>