<!doctype html>
<html lang="uk" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script type="text/javascript"
            src="https://www.gstatic.com/charts/loader.js"></script>
    <title>Аналитика</title>
</head>
<body>
<!--    <table border = "1">-->
<!--    <tr>-->
<!--        <td>${item.idTransport}</td>-->
<!--        <td>${item.dateSold}</td>-->
<!--        <td>${item.kolTicketSold}</td>-->
<!--        <td>${item.id}</td>-->
<!--    </tr>-->
<!--    </table>-->
<!--    <table border = "1">-->
<!--    <#list routeTitle as item>-->
<!--    <tr>-->
<!--        <td>${item.numberRoute}</td>-->
<!--        <td>${item.startPoint}</td>-->
<!--        <td>${item.endPoint}</td>-->
<!--    </tr>-->
<!--</table>-->
<!--<#if role == "transport_employee">-->
<!--<form action="/ticketSold/create" method="post" enctype="multipart/form-data">-->
<!--    <b>id транспорту: <input type="number" name="idTransport"/></b><br><br>-->
<!--    <b>Дата продажу: <input type="date" name="dateSold"/></b><br><br>-->
<!--    <b>Кількість проданих: <input type="number" name="kolTicketSold"/></b><br><br>-->
<!--    <input type="submit" value="Добавити"/><br>-->
<!--</form>-->
<!--<form action="/analyticks/route" method="post" enctype="multipart/form-data">-->
<!--    <b>Номер маршруту:</b> <input type="number" name="id"/><br><br>-->
<!--    <b>Дата початку:</b> <input type="date" name="timeStart"/><br><br>-->
<!--    <b>Дата кінця:</b> <input type="date" name="timeFinal"/><br><br>-->
<!--    <input type="submit" value="Відобразити"/><br><br>-->
<!--</form><br>-->
<!--<#if result?has_content>-->
<!--<b>Результат:</b> ${result}<br>-->
<!--</#if>-->
<!--</#if>-->

<!--<#if role == "administrator">-->
<!--<div id="piechart" style="width: 900px; height: 500px;">-->

<!--</div>-->
<!--</#if>-->
<div id="piechart" style="width: 900px; height: 500px;">

</div>
<script th:inline="javascript">
   var real_data = /*[[${topFive}]]*/'noValue';
   $(document).ready(function() {
       google.charts.load('current', {
           packages : [ 'corechart', 'bar' ]
       });
       google.charts.setOnLoadCallback(drawColumnChart);
   });
   function drawColumnChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('number', 'Count');
        Object.keys(real_data).forEach(function(key) {
            data.addRow([ key, real_data[key] ]);
        });
        var options = {
            title : 'П\'ятірка найкращих маршрутів',
            hAxis : {
                title : 'Name',
            },
            vAxis : {
                title : 'Created Tours'
            }
        };
        var chart = new google.visualization.PieChart(document
                .getElementById('piechart'));
        chart.draw(data, options);
   }
</script>
</body>
</html>